@font-face {
    font-family: "CaviarDreams";
    src: local("CaviarDreams") url("CaviarDreams.ttf") format("truetype");
}

@font-face {
    font-family: "BabaPro";
    src: local("BabaPro"), url("BabaPro-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(4, 4, 58);
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, sans-serif;
}

/* ====== GRILLE DU HEADER ====== */
header {
    display: grid;
    grid-template-areas:
        "animL animM animR"
        "info  info  info";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 120px;
    gap: 10px;
    padding: 10px;
}


/* Zones nommées */
.anim-left   { grid-area: animL; }
.anim-mid    { grid-area: animM; }
.anim-right  { grid-area: animR; }
.info-bar    { grid-area: info; }

/* Bordures différentes */
.anim-left  { border: 3px solid #00b4ff; }
.anim-mid   { border: 3px solid #00e0a5; }
.anim-right { border: 3px solid #ffbb00; }
.info-bar   { border: 3px solid #ff4d6d; }

.zone {
    background: rgba(255,255,255,0.05);
}

/* ====== ZONE CENTRALE ====== */
main {
    display: grid;
    grid-template-areas:
        "vfxL center vfxR";
    grid-template-columns: 250px 1fr 250px;
    gap: 10px;
    padding: 10px;
}

.vfx-left  { grid-area: vfxL;  border: 3px solid #6d5dff; }
.vfx-right { grid-area: vfxR;  border: 3px solid #ff6ee0; }

.center-zone {
    grid-area: center;
    border: 3px solid #00ffee;
    position: relative;
    background: rgba(255,255,255,0.03);
    width: 100%;
    height: 100%;
}

.zdog-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

/* ====== BAS : GRAPHIQUES ====== */
footer {
    display: grid;
    grid-template-areas: "graphA graphB";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.graph-a { grid-area: graphA; border: 3px solid #3c0a98; }
.graph-b { grid-area: graphB; border: 3px solid #6f1293; }

.chart-container {
    background: rgba(255,255,255,0.05);
    padding: 10px;
}

canvas {
    width: 100%;
    height: 150px;
}

.visualizer {
    position: absolute;
    width: 100%;
    height: 50%; 
    font-family: "CaviarDreams";
    font-size: 25px;
    color: white;
}

.anim-right {
    position: relative;
}

#playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 45%);
}

.vfx-left,
.vfx-right {
    overflow: hidden;
}

.vfx-left img,
.vfx-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.vfx-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vfx-right img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
    position: relative;
}

.zdog-canvas {
    z-index: -1;
}