@font-face {
    font-family: "CaviarDreams";
    src: url("../assets/font/CaviarDreams.ttf") format("truetype");
}

@font-face {
    font-family: "BabaPro";
    src: url('../assets/font/BabaPro-Regular.ttf') format("truetype");
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(4, 4, 58);
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, sans-serif;
}


header {
    display: grid;
    grid-template-areas:
        "animL animM animR"
        "info  info  info";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto; 
    gap: 10px;
    padding: 10px;
}

.anim-gauche   { grid-area: animL; }
.anim-mid    { grid-area: animM; }
.anim-droite  { grid-area: animR; }
.info-bar    { grid-area: info; }

.anim-gauche  { border: 3px solid #00b4ff; }
.anim-mid   { border: 3px solid #00e0a5; }
.anim-droite { border: 3px solid #00b4ff; }
.info-bar   { border: 3px solid #6d5dff; }

.anim-mid {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 16px;               
}

.zone {
    background: rgba(255,255,255,0.05);
}

main {
    display: grid;
    grid-template-areas:
        "vfxL center vfxR";
    grid-template-columns: 250px 1fr 250px;
    gap: 10px;
    padding: 10px;
}

.vfx-gauche  { grid-area: vfxL;  border: 3px solid #631eb2; }
.vfx-droite { grid-area: vfxR;  border: 3px solid #631eb2; }

.centre-zone {
    grid-area: center;
    border: 3px solid #00e0a5;;
    position: relative;
    background: rgba(255,255,255,0.03);
    width: 100%;
    height: 100%;
}

.zdog-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

footer {
    display: grid;
    grid-template-areas: "graphA graphB";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.graph-a { grid-area: graphA; border: 3px solid #00b4ff; }
.graph-b { grid-area: graphB; border: 3px solid #00b4ff; }

.chart-container {
    background: rgba(255,255,255,0.05);
    padding: 10px;
}

canvas {
    width: 100%;
    height: 150px;
}

.visualizer {
    position: absolute;
    width: 100%;
    height: 45%; 
}

p {
    font-family: "CaviarDreams";
    font-size: 25px;
    color: white;
    margin: 1px;
}

h1 {
    font-family: "BabaPro", sans-serif;
    color: white;
    margin: 5px;
    text-align: center;
}

.anim-droite {
    position: relative;
}

#playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 45%);
}

.vfx-gauche,
.vfx-droite {
    overflow: hidden;
}

.vfx-gauche img,
.vfx-droite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.vfx-droite {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vfx-droite img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
    position: relative;
}

.zdog-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -85%) scale(0.2);
    z-index: -1;
}

svg {
    color: turquoise;
}

.table {
    background: rgba(10, 10, 20, 0.8); 
    border: 2px solid #00FFFF; 
    border-radius: 8px;
    box-shadow: 0 0 20px #00FFFF inset;
}

.table tbody tr:hover {
    background: rgba(0, 255, 136, 0.1);
    transform: scale(1.01);
}

th td {
    font-family: "CaviarDreams";
}